<div class="row" style="width: 100%; margin-top: 95px;">
</div>

<div class="container">
    <h3 style="color: #2e3192; text-align: center;">ABOUT US</h3>
    <div class="row about">
        <div class="col-md-6">

            <p>
                <strong> Efficent Power </strong> started manufacturing of Distribution Transformer in the year 2001
                with a
                strong team of Transformer and Switch-gear background.<br>
                <br>

                <strong> Efficent Power </strong> offer customers complete substation and transformer is one its key
                item on which the company
                has achieved a mile-stone on quality. Due to this the company has earned a good faith from more than
                thousands of Private entrepreneur and Government policy maker. Eventually the company started
                manufacturing of Power Transformers and keeping good example by making up to 20MVA, 33KV system.. The
                factory is one of the largest independent manufacturing unit for manufacturing of high-quality, custom
                solutions for power systems for big or small Industrial units, Commercial complexes and Government
                utilities.

                <!-- Efficent Power transformer factory is now one of the resourceful Engineering Setup on 20,000 SFT shaded area
                under 100,000 SFT land with good quality manpower, machineries and test laboratories. We made a good
                team work with Overseas Transformer Experts with our local experiences of more than 20 years and highly
                motivated some local Professors and Engineers. This is what engineers call as TEAM Efficent Power Though
                transformers are designed according to international standards and on requirements of valued customers
                comprising the recognized standards of IEC-60076, BS-71, ANSI 57,12, VDE 0532. Efficent Power is developing
                its continuous improvement in design and using the modern production technique with latest technology
                and experience. Hence the most of the technological innovations is being found to come from QC Circle in
                Efficent Power Factory.
                <br> -->
            </p>

        </div>
        <div class="col-md-6">

            <img src="/assets/3.png" alt="Los Angeles" class="d-block" style="width:100%">

        </div>
    </div>
</div>

<div class="our-team">
    <div class="container">
        <h3 >Our Experts Team Members</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width:20rem;margin:20px 0 24px 0">
                    <img class="card-img-top" src="/assets/ceo.jpg" alt="image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">JMurad Aly</h4>
                        <p class="card-text">co Founder</p>
                    </div>
                    <div class="portfolioDisc">
                        <ul class="sc-list">
                            <li class="sc-item " title="Facebook">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="youtube">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="instagram">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="twitter">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width:20rem;margin:20px 0 24px 0">
                    <img class="card-img-top" src="/assets/3.jpg" alt="image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">JMurad Aly</h4>
                        <p class="card-text">co Founder</p>
                    </div>
                    <div class="portfolioDisc">
                        <ul class="sc-list">
                            <li class="sc-item " title="Facebook">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="youtube">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="instagram">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="twitter">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width:20rem;margin:20px 0 24px 0">
                    <img class="card-img-top" src="/assets/2.jpg" alt="image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">JMurad Aly</h4>
                        <p class="card-text">co Founder</p>
                    </div>
                    <div class="portfolioDisc">
                        <ul class="sc-list">
                            <li class="sc-item " title="Facebook">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="youtube">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="instagram">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="sc-item " title="twitter">
                                <a class="sc-link" href="#0" title="social media icon">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

        <div class="seeMorebtn" align="right">
            <button type="button" class="btn btn-outline-primary btn-round">
                 <a href="#">
                    See More <i class="bi bi-arrow-right"></i>
                </a>
            </button>
          </div>

    </div>
</div>