<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- navbar-light bg-light bg-dark navbar-dark--> 
    <!-- <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div> -->
    <nav class="navbar navbar-expand-sm navbar-transparent navbar-light bg-light  fixed-top ">
        <div class="container">
          <a class="navbar-brand" href="#" style="color: #fff;">
            <!-- Efficent Power -->
            <img src="/assets/Logo.png" alt="Los Angeles" class="d-block" style="width:50%">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar" >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" href="#">About</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" >Profile</a>
              </li>  -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/services" href="#">Services</a>
              </li>  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Product</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/services" href="#">Transformer</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">HT Switchgear</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">LT Switchgear</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">PFI</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">Solar Syatem</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">Disel Generator</a></li>
                  <li><a class="dropdown-item" routerLink="/services" href="#">Lift & Escalator</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" href="#">Contact Us</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
 
</body>
</html>


