<div class="servicesheader">
  <div class="container">
    <div class="row" style="width: 100%; margin-top: 95px;">
      <h4>
        Products & Services
      </h4>

      <p>Efficent Power oﬀers a wide range of Distribution and Power Transformers to meet the requirements
        of power distribution in factories, utilities, industries, commercial buildings, etc.
        These transformers are manufactured at our factory in ..., Dhaka.</p>
    </div>
  </div>
</div>

<div class="product">
  <div class="container">
    <div class="row">
      <h4>
        Manufacturing Products
      </h4>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Transf.PNG" alt="image" style="width:100%">
            <h5 class="card-title">Distribution Transformers</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Switch.PNG" alt="image" style="width:100%">
            <h5 class="card-title">HT Switchgear</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Switch_LT.PNG" alt="image" style="width:100%">
            <h5 class="card-title">LT Switchgear</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Fpf.PNG" alt="image" style="width:100%">
            <h5 class="card-title">PFI Panel</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/MV_HV.PNG" alt="image" style="width:100%">
            <h5 class="card-title">MV/HV Control Relay Panels</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Metting.PNG" alt="image" style="width:100%">
            <h5 class="card-title">Metering Panels</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Syscr.PNG" alt="image" style="width:100%">
            <h5 class="card-title">Synchronization Panel</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="/assets/Distribution.PNG" alt="image" style="width:100%">
            <h5 class="card-title">Distribution Panel</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="product_info">
  <div class="container">
    <div class="row">
      <h4>
        Our Key Products
      </h4>
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Transformers-tab" data-bs-toggle="tab" data-bs-target="#Transformers"
              type="button" role="tab" aria-controls="home" aria-selected="true">Transformers</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="HTSwitchgear-tab" data-bs-toggle="tab" data-bs-target="#HTSwitchgear"
              type="button" role="tab" aria-controls="profile" aria-selected="false">HT Switchgear</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="LTSwitchgear-tab" data-bs-toggle="tab" data-bs-target="#LTSwitchgear"
              type="button" role="tab" aria-controls="contact" aria-selected="false">LT Switchgear</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="PFIPanel-tab" data-bs-toggle="tab" data-bs-target="#PFIPanel" type="button"
              role="tab" aria-controls="contact" aria-selected="false">PFI Panel</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="SolarSyatem-tab" data-bs-toggle="tab" data-bs-target="#SolarSyatem"
              type="button" role="tab" aria-controls="contact" aria-selected="false">Solar Syatem</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="DiselGenerator-tab" data-bs-toggle="tab" data-bs-target="#DiselGenerator"
              type="button" role="tab" aria-controls="contact" aria-selected="false">Disel Generator</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="LiftEscalator-tab" data-bs-toggle="tab" data-bs-target="#LiftEscalator"
              type="button" role="tab" aria-controls="contact" aria-selected="false">Lift & Escalator</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="Transformers" role="tabpanel" aria-labelledby="Transformers-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/substation-transformer.jpg" class="img-thumbnail" alt="Cinque Terre"
                    style="width:100%">
                </div>

              </div>
              <div class="col-md-6">
                <div class="wpb_wrapper">
                  <h2><strong><u>TRANSFORMER:</u></strong></h2>
                  <ul>
                    <li>-Low Loss and highly efficient</li>
                    <li>-Cold rolled grain oriented (CRGO) silicon steel with high permeability are used.</li>
                    <li>-Transformer tank is filled with oil under vacuum thus improving the complete penetration of
                      insulating liquid.</li>
                    <li>-Due to Copper’s inherent high conductivity, ductility and strength, all Powermann Transformers
                      are manufactured with pure electrolytic copper only.</li>
                    <li>-Standards: IEC-60076, BS-171,ANSI C57.12, VDE 0537</li>
                  </ul>
                  <p><strong>Powermann Transformer Are:</strong></p>
                  <ul>
                    <li>Friendly to the environment</li>
                    <li>Safe</li>
                    <li>Economical</li>
                    <li>Reliable</li>
                    <li>Moisture Resistant</li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="HTSwitchgear" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/ht1.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <h3><strong>HT SWITCHGEAR:</strong></h3>
                      <p>High Tension Switchgear</p>
                      <h3><strong>Basic Function:</strong></h3>
                      <ul>
                        <li>High Voltage (11KV) Controlling or Switching</li>
                        <li>Protection (Over Load , Short Circuit, Earth Fault or any Electrical Fault</li>
                        <li>Status reading (current ,voltage ,frequency)</li>
                      </ul>

                      <h3><strong>Main Features:</strong></h3>
                      <ul>
                        <li>VCB, LBS, SF6 circuit breaker and switchboards are of optimized design considering
                          Bangladeshi supply condition and ambient.</li>
                        <li>The Breaker and switchboard is of compact design , sturdy construction and simple in
                          operation with a proven motorized spring operated mechanism<strong>.</strong></li>
                        <li>Design ensures ease of operation, low cost maintenance and higher longevity.</li>
                        <li>Very high quality ring main unit (RMU) suitable for highly populated city like Dhaka for
                          multiple feeders in incoming and outgoing are used.</li>
                        <li>Equipped with built-in mechanical interlocks for safety and the breaker compartment is so
                          designed, that it ensures the inter chargeability with the identical circuit breakers .</li>
                        <li>The panels are fully compartmentalized and extensible on both sides</li>
                        <li>Adequate air clearance</li>
                        <li>
                          <h6>FIXED TYPE &amp; DRAW-OUT TYPE.</h6>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="LTSwitchgear" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/ht1.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p><strong>LT SWITCHGEAR:</strong></p>
                      <p>Low Tension Switchgear</p>
                      <p><strong>Basic Function :</strong></p>
                      <ul>
                        <li>Controlling Or Switching</li>
                        <li>Protection (Over Load, Short Circuit , or Any Electrical Fault)</li>
                        <li>Status reading (Current ,Voltage ,Frequency)</li>
                        <li>Power Distribution</li>
                      </ul>
                      <p><strong>Main Features:</strong></p>
                      <ul>
                        <li>Readymade &amp; Customized Solutions for load management.</li>
                        <li>Modular construction &amp; compact size provides economy of space, time &amp; cost.</li>
                        <li>In single door &amp; double door version.</li>
                        <li>Designed for floor mounting /wall mounting.</li>
                        <li>Specially designed shrouded bus bar provides safety.</li>
                        <li>Number of ways option permits future system expansion.</li>
                        <li>Use of quality raw materials &amp; sourcing from reputed manufacturers.</li>
                        <li>Elegant &amp; sleek in appearance.</li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="PFIPanel" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/pfi-plant.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p><strong>PFI PLANT:</strong></p>
                      <p>Power Factor Improvement Plant</p>
                      <p><strong>Benefits:</strong></p>
                      <ul>
                        <li>Power Consumption Reduced</li>
                        <li>Electricity Bills Reduced</li>
                        <li>Electrical Energy Efficiency Improved</li>
                        <li>Extra KVA Availability From The Existing Supply</li>
                        <li>Transformer and Distribution equipment loss reduced</li>
                        <li>Voltage drop reductions in long cables</li>
                      </ul>
                      <p><strong>Main Features:</strong></p>
                      <ul>
                        <li>Modular Design</li>
                        <li>Compact Arrangement</li>
                        <li>Low Losses Capacitors</li>
                        <li>Factory Wired</li>
                        <li>Extensible</li>
                        <li>Low Maintenance cost</li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="SolarSyatem" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/solarpa1.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">

                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <h2><strong>SOLAR PANEL:</strong></h2>
                      <p style="text-align: left;">Photovoltaic solar panels&nbsp;absorb sunlight as a source of energy
                        to generate electricity. A Photovolatic (PV) module is a packaged, connected assembly of
                        typically 6×10 PVsolar cell. PV modules constitute the PV array of a PV system that generates
                        and supplies solar electricity in commercial and residential applications.</p>
                      <p style="text-align: left;"><strong>Efficent Power.&nbsp;</strong>has a significant
                        presence in the energy sector of Bangladesh and offers a wide range of renewable and
                        conventional energy solutions.&nbsp;<strong>Efficent Power.&nbsp;</strong>is a future
                        looking manufacturing outfit aimed to serve the energy needs of the future.</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="DiselGenerator" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/generator.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">

                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p><strong>Generator:</strong></p>
                      <p><strong>Benifits</strong></p>
                      <ul>
                        <li>For uninterrupted, reliable electric energy.</li>
                        <li>From comfort in our houses, to business needs, to hospitals, to Industries .</li>
                        <li>Support Rapid Industries.</li>
                      </ul>
                      <p><strong>Main Features</strong></p>
                      <ul>
                        <li>Low Emission</li>
                        <li>Low Noise &amp; Durability</li>
                        <li>Simple to Operate &amp; Environment friendly</li>
                        <li>High Quality</li>
                        <li>Reliable</li>
                        <li>Easy to maintenance</li>
                        <li>Higher Power Output</li>
                        <li>Low Fuel Consumption</li>
                        <li>Round the clock service</li>
                      </ul>
                      <p>&nbsp;</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="LiftEscalator" role="tabpanel" aria-labelledby="contact-tab">

            <div class="row">
              <div class="col-md-6">
                <div style="padding: 50px;">
                  <img src="/assets/escalator.jpg" class="img-thumbnail" alt="Cinque Terre" style="width:100%">
                </div>

              </div>
              <div class="col-md-6">

                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p><strong>left & Escalator:</strong></p>
                      <p><strong>Benifits</strong></p>
                      <!-- <ul>
                        <li>For uninterrupted, reliable electric energy.</li>
                        <li>From comfort in our houses, to business needs, to hospitals, to Industries .</li>
                        <li>Support Rapid Industries.</li>
                      </ul> -->
                      <p><strong>Main Features</strong></p>
                      <!-- <ul>
                        <li>Low Emission</li>
                        <li>Low Noise &amp; Durability</li>
                        <li>Simple to Operate &amp; Environment friendly</li>
                        <li>High Quality</li>
                        <li>Reliable</li>
                        <li>Easy to maintenance</li>
                        <li>Higher Power Output</li>
                        <li>Low Fuel Consumption</li>
                        <li>Round the clock service</li>
                      </ul> -->
                      <p>&nbsp;</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <img class="card-img-top" src="/assets/waveFoote.svg" alt="image" style="width:100%"> -->